{% if install_map_enabled %}
    ## Transfer files recording install mapping
    local install_map
    install_map=(
    {%- for key, value in install_map_yaml.items() %}
      "{{ key }}:{{ value }}"
    {%- endfor %}
    )
    local vars=(
      "version=$version"
      "channel=$(kc_asdf_download_channel "$version")"
      "os=$KC_ASDF_OS"
      "arch=$KC_ASDF_ARCH"
    )
    [ -n "${KC_ASDF_EXT:-}" ] && vars+=("ext=$KC_ASDF_EXT")
    if command -v kc_asdf_version_parser >/dev/null; then
      local major minor patch
      read -r major minor patch <<<"$(kc_asdf_version_parser "$version")"
      vars+=("major_version=$major" "minor_version=$minor" "patch_version=$patch")
    fi
    kc_asdf_debug "$ns" "template variables are '%s'" "${vars[*]}"

    local transfer_method="{{ install_map_method }}"
    local raw key value
    for raw in "${install_map[@]}"; do
      key="$(kc_asdf_template "${raw%%:*}" "${vars[@]}")"
      value="$(kc_asdf_template "${raw##*:}" "${vars[@]}")"
      kc_asdf_step "$transfer_method" "$key -> $value" \
        kc_asdf_transfer "$transfer_method" "$outdir/$key" "$outdir/$value"
    done
{%- endif %}